/* css index  */
/* 
001 --> top order alert START 
002 --> top cookies policys START 
003 --> top product searcing options and search bar START
004 --> heaer logo and menu area START 
005 --> hero slider area START
006 --> promo area start 
007 --> best seller single item rows
008 --> latest blog area START 
009 --> 
011 --> 
011 --> 
012 --> 
013 --> 
014 --> 

*/

/* common css  */

/* 001 --> top order alert START  
=============================================
*/

.top_order_alert {
	background-color: #f5f7f6;
	padding: 19px 0px;
}
.alert_message p {
	color: #3f3f3f;
	font-size: 14px;
}
.top_social_links {
}
.top_social_links a {
	color: #3f3f3f;
	padding: 0px 11px;
}
.top_social_links a:focus {
	outline: 0;
}
.top_social_links a:last-child {
	margin-right: 0px;
	padding-right: 0px;
}
.top_social_links a i {
}

/* 002 --> top cookies policys START 
===================================================
*/
.cookise_policy {
	background-color: #091d0c;
	padding: 13px 0px;
}
.cookies_policy_message {
}
.cookies_policy_message p {
	color: #ffffff;
	font-size: 14px;
}
.cookies_policy_message p strong {
	font-weight: bold;
}
.cookies_close_btn {
}
.cookies_btn {
	padding: 17px 24px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	display: inline-block;
	border-radius: 30px;
}
.cookies_btn:hover {
	text-decoration: none;
	color: #000000;
}

/* 003 --> top product searcing options and search bar START 
===============================================================
*/
.top_search_area {
	padding-top: 38px;
	padding-bottom: 42px;
	box-shadow: 0px 10px 8px 1px #f7f7f7;
}
/* .search bar row */

.produc_search_bar {
}
.produc_search_bar .form-control {
	border-top: 1px solid #e6e6e6 !important;
	border-bottom: 1px solid #e6e6e6 !important;
	border-left: 0px !important;
	border-right: 0px !important;
}
.produc_search_bar .form-control:focus {
	box-shadow: none !important;
	border-top: 1px solid #e6e6e6 !important;
	border-bottom: 1px solid #e6e6e6 !important;
	border-left: 0px !important;
	border-right: 0px !important;
}
.produc_search_bar .input-group-prepend .input-group-text {
	background-color: #fccc0e;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-color: #fccc0e;
	border-bottom-color: #fccc0e;
	border-left-color: #fccc0e;
	border-right-color: #fccc0e;
}
.produc_search_bar .input-group-append .input-group-text {
	background-color: transparent;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-left-width: 0px;
}

/* search dropdown  */

.list-autocomplete {
	padding: 0;
}
.list-autocomplete em {
	font-style: normal;
	background-color: #e1f2f9;
}

.hasNoResults {
	color: #aaa;
}
.hasNoResults,
.btn-extra {
	display: block;
	padding: 10px;
}

.hasNoResults {
	color: #aaa;
}

.btn-extra {
	width: 100%;
	border-top: 0.5px solid #d2d2d2;
}

/* price  */
.price_options {
	margin-right: 25px;
}
.price_options span {
	color: #791216;
	text-transform: uppercase;
	align-self: center;
	margin-right: 10px;
}
.price_dropdown {
}
.price_dropdown button {
	border: 1px solid #e6e6e6;
	background-color: transparent;
	border-radius: 30px;
	padding: 0.7rem 0.6rem;
}
.price_dropdown button:focus {
	outline: 0 !important;
	border: none;
}
.price_dropdown_lists {
}
.price_dropdown_item {
}

/* language  */
.language_options {
	margin-right: 25px;
}
.language_options span {
	color: #791216;
	text-transform: uppercase;
	align-self: center;
	margin-right: 10px;
}
.laguage_dropdown {
}
.laguage_dropdown button {
	border: 1px solid #e6e6e6;
	background-color: transparent;
	border-radius: 30px;
	padding: 0.7rem 0.75rem;
}
.laguage_dropdown button:focus {
	outline: 0 !important;
	border: none;
}
.language_dropdown_lists {
}
.language_dropdown_item {
}

/* currency  */

.currency_options {
}
.currency_options span {
	color: #791216;
	text-transform: uppercase;
	align-self: center;
	margin-right: 10px;
}
.currency_dropdown button {
	border: 1px solid #e6e6e6;
	background-color: transparent;
	border-radius: 30px;
	padding: 0.7rem 0.75rem;
}
.currency_dropdown button:focus {
	outline: 0;
	border: none !important;
}
.currency_dropdown_lists {
	min-width: 5rem;
}
.currency_dropdown_item {
}

/* .004 --> heaer logo and menu area START 
================================================
*/

.header_area {
	box-shadow: 0px 9px 13px 1px #e4e2d9;
}
.logo_img {
}
.logo_img img {
}
.nav_toggler_btn {
}
.bars_icon {
}
.navigation_menu {
}
.navigation_menu ul {
}
.navigation_menu ul li {
}
.navigation_menu ul li a {
	color: #292929;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 16px;
	display: inline-block !important;
}
.navigation_menu ul li:last-child a {
	padding-right: 0px;
}
.navigation_menu ul li a:focus {
	outline: none;
}
.navigation_menu ul li a:hover {
	text-decoration: none;
	color: #bf4800;
}
.navigation_menu ul li a.new_arrival {
	color: #bf4800;
}
.navigation_menu ul li a.good_deals_btn {
	background-color: #fccc0e;
	align-self: center;
	color: #292929;
	border-radius: 5px;
}
.navigation_menu ul li a.login_btn {
	border: 1px solid #791216;
	color: #791216 !important;
	border-radius: 30px;
	margin-left: 22px;
}
.navigation_menu ul li a.cart_btn {
	position: relative;
}
.navigation_menu ul li a.cart_btn .badge_number {
	position: absolute;
	line-height: 16px;
	background-color: #c7263c;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	text-align: center;
	color: #fff;
	top: 2px;
	right: -4px;
	font-size: 9px;
	z-index: 2;
}
.navigation_menu ul li a.cart_btn img {
	width: 30px;
	position: relative;
	top: -8px;
}

/* .005 --> hero slider area START 
=====================================================
*/
.hero_slider_area {
	position: relative;
}
.hero_slider_bg {
	background-image: url("../img/hero-slider-img/hero-bg-img.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ededed;
}

.hero_left_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 168px;
	height: 100%;
	background-image: url("../img/hero-slider-img/hero-left-bg.png");
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.hero_right_bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 14%;
	height: 39%;
	background-image: url("../img/hero-slider-img/hero-right-bg-01.png");
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.hero_slider {
}
.hero_slider .owl-nav {
	margin-top: 0px !important;
}
.hero_slider .owl-nav button {
	width: 38px;
	height: 38px;
	line-height: 38px !important;
	text-align: center;
	border-radius: 50% !important;
	background-color: #f8f8f8e0 !important;
	color: #791216 !important;
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translate(-50%, -50%);
}
.hero_slider .owl-nav button:focus {
	outline: none;
}
.hero_slider .owl-nav button.owl-prev {
}
.hero_slider .owl-nav button.owl-next {
	left: auto;
	right: 50px;
	transform: translate(50%, -50%);
}
.hero_slider .owl-dots {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 15px;
}
.hero_slider .owl-dots .owl-dot {
	border: 1px solid #b79e94;
	border-radius: 50%;
	margin: 0px 6px;
}
.hero_slider .owl-dots .owl-dot:focus {
	outline: 0;
}
.hero_slider .owl-dots .owl-dot.active span,
.hero_slider .owl-dots .owl-dot:hover span {
	background-color: #791216;
	padding: 4px;
}

.hero_slider .owl-dots .owl-dot span {
	background-color: transparent;
	width: 13px;
	height: 13px;
	margin: 2px;
}
.hero_slider_img {
}
.hero_slider_img img {
}
.hero_slider_contents {
}
.hero_slider_contents h1 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #292929;
	margin-bottom: 22px;
}
.hero_slider_contents h2 {
	text-transform: capitalize;
	color: #791216;
	font-size: 30px;
	font-weight: 500;
	border-bottom: 2px solid #b4b4b0;
	display: inline-block;
	line-height: 30px;
}
.hero_slider_contents h3 {
	color: #292929;
	font-size: 25px;
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hero_slider_contents p {
	color: #303030;
	font-size: 18px;
	margin-bottom: 10px;
}
.hero_contry {
	margin-bottom: 15px;
	font-size: 23px;
	font-weight: 500;
}
.hero_contry img {
	margin-right: 7px;
	width: 20px !important;
	height: 20px !important;
}
/* hero review   */
.review_pannel {
}
.review_area {
}
.reviews_start {
	color: #303030;
	font-weight: 800;
	display: flex;
	align-items: center;
}
.reviews_start .starts {
	border: 1px solid #fdf6df;
	padding: 5px;
	background-color: #faf5e4;
	margin-right: 10px;
	font-size: 18px;
}
.reviews_start i {
	color: #ffc850;
}
.reviews_start .rating {
	font-size: 15px;
	font-weight: 700;
	color: #791216;
}
.penin {
	color: #303030;
	text-transform: uppercase;
	font-weight: 600;
	padding: 6px 0px;
}
.penin .name {
	margin-right: 68px;
}
.penin .number {
	padding: 4px 12px;
	border: 1px solid #8eb378;
	background-color: #f0efe0;
	color: #2e7912;
}
.perker {
	color: #303030;
	text-transform: capitalize;
	font-weight: 600;
	padding: 6px 0px;
}

.perker .name {
	margin-right: 70px;
}
.perker .number {
	padding: 4px 12px;
	border: 1px solid #791216;
	background-color: #f2e9dd;
	color: #791216;
}
.sommelier {
	color: #303030;
	text-transform: capitalize;
	font-weight: 600;
	padding: 6px 0px;
}

.sommelier .name {
	margin-right: 44px;
}
.sommelier .number {
	padding: 4px 12px;
	border: 1px solid #ffaf00;
	background-color: #fbf7e6;
	color: #ffaf00;
}
/* hero price   */
.hero_price_area {
}
.before_price {
	font-weight: 600;
	text-transform: capitalize;
	color: #091d0c;
	margin: 10px 0px;
}
.before_price .reduce-price {
	text-decoration: line-through;
	margin-right: 50px;
	font-size: 22px;
}
.before_price span {
	text-decoration: none;
	font-size: 18px;
}
.before_price img {
	width: 20px !important;
	height: 20px;
}
.current_price {
	font-weight: 700;
	color: #791216;
	text-transform: capitalize;
}
.current_price span {
	font-size: 25px;
}
.current_price img {
	width: 20px !important;
	height: 20px;
}
.current_price .actual_price {
	font-size: 30px;
	font-weight: 600;
	margin-right: 25px;
}
.buy_now_btn a {
	padding: 16px 50px;
	background-color: #791216;
	border-radius: 30px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 15px;
	color: #ffffff;
}

.buy_now_btn a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* .006 --> promo area start  
===============================================
*/
.promo_area {
	background-color: #091d0c;
	padding: 50px 0px;
}
.single_promo {
}
.single_promo img {
	margin-right: 15px;
}
.promo_contents {
	color: #ffffff;
}
.promo_contents h3 {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 5px;
	color: #ffffff;
}
.promo_contents p {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
}
/* 007 --> best seller single item rows 
==========================================
*/

.best_seller_area {
	background-color: #fff;
	padding: 50px 0px;
}
.section_title {
}
.section_title h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: capitalize;
	color: #292929;
	border-bottom: 2px solid #b7b7b7;
	line-height: 45px;
}
.product_wrapper {
	padding: 20px 8px;
}
.product_contents {
}
.product_contents h1 {
	font-size: 25px;
	font-weight: 400;
	color: #303030;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.product_contents p {
	font-size: 16px;
	font-weight: 400;
	color: #303030;
	text-transform: capitalize;
}
.product_details {
	margin-top: 20px;
	margin-bottom: 20px;
}
.product_img {
	margin-right: 15px;
}
.product_img img {
}
.product_spacifications {
}
.product_country {
	width: 25px;
	height: 25px;
	padding: 5px 0px;
}
.product_country img {
	margin-right: 50px;
	width: 100%;
	position: relative;
	height: auto;
	left: 15px;
}
.product_country span {
}
.product_riesling {
	width: 25px;
	height: 25px;
	padding: 5px 0px;
}
.product_riesling img {
	margin-right: 54px;
	width: 100%;
	position: relative;
	height: auto;
	left: 17px;
}
.product_riesling span {
}
.product_parker {
	padding: 5px 0px;
}
.product_parker span {
}
.parker_number {
	padding: 4px 12px;
	border: 1px solid #8eb378;
	background-color: #f0efe0;
	color: #2e7912;
	margin-right: 23px;
}
.parker_name {
}
.product_penin {
	padding: 5px 0px;
}
.penin_number {
	padding: 4px 12px;
	border: 1px solid #ffaf00;
	background-color: #fbf7e6;
	color: #ffaf00;
	margin-right: 23px;
}
.penin_name {
}
.product_sommelier {
	padding: 5px 0px;
	margin-bottom: 10px;
}
.sommelier_number {
	padding: 4px 12px;
	border: 1px solid #791216;
	background-color: #f2e9dd;
	color: #791216;
	margin-right: 23px;
}
.sommelier_name {
}

.product_price_counter {
}
.product_price {
}
.product_price span {
}
.product_price span img {
}
.product_currency_img {
	margin-left: 15px;
}
.product_old {
	border-bottom: 2px solid #b4bab5;
}
.product_old_price {
	color: #091d0c;
	font-size: 20px;
	font-weight: 500;
	text-decoration: line-through;
}
.product_new_price {
	color: #791216;
	font-size: 25px;
	font-weight: 500;
}
.product_counter {
}
.product_counter img {
}
.product_counter_number {
	padding: 12px 16px;
	border: 1px solid #cda6a8;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-right: 2px;
}
.counter_plus_minus {
}
.counter_plus_minus button {
	border: 0;
	background-color: #791216;
	color: #fff;
	font-size: 14px;
	padding: 2px 3px;
}
.counter_plus_minus button:focus {
	outline: none;
}
.counter_plus_btn {
	margin-bottom: 1px;
}
.counter_minus_btn {
	margin-top: 1px;
}
.product_buy_now_btn {
}
.product_buy_now_btn a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	background-color: #791216;
	padding: 13px 21px;
	margin-left: 2px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	letter-spacing: 1px;
}
.product_buy_now_btn a:focus {
	outline: none;
}
.product_buy_now_btn a:hover {
	text-decoration: none;
	color: #ffffff;
}
/* .008 --> latest blog area START 
=====================================
*/
.latest_blog_area {
	padding: 50px 0px;
	background-color: #f8fbfd;
}
.blog_section_title {
	text-align: center;
}
.blog_section_title h1 {
	font-size: 30px;
	font-weight: 800;
	color: #292929;
	text-transform: capitalize;
	margin-bottom: 50px;
	position: relative;
}
.blog_section_title h1::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 40%;
	height: 2px;
	background-color: red;
}
.blog_section_title h1::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ffc850;
}
.latest_blog_container {
}
.blog_slider {
}
.single_blog_items_wrapper {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #d6e0ff;
}
.blog_image {
}

.blog_image img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.blog_date {
	padding: 10px 0px;
}
.blog_date span {
	color: #791216;
}
.blog_date span i {
	margin-right: 5px;
}
.blog_contents {
}
.blog_contents h1 {
	font-size: 30px;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 15px;
}
.blog_contents p {
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 15px;
}
/* 
======================================================
responsive  
=======================================================
*/

@media (min-width: 1900px) {
	.container {
		min-width: 100%;
	}
}
